# Grafana Datasource provisioning
# Location: /etc/grafana/provisioning/datasources/datasources.yml

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://localhost:9090
    isDefault: true
    editable: false
    jsonData:
      timeInterval: "15s"
      httpMethod: POST

  - name: Alertmanager
    type: alertmanager
    access: proxy
    url: http://localhost:9093
    editable: false
    jsonData:
      implementation: prometheus
